<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Computer</title>
</head>

<body>
  <main>
    <h1>Computer data</h1>
    <p>Id: <%= computer.id %>
    </p>
    <p>Name: <%= computer.name %>
    </p>
    <p>Type: <%= computer.type %>
    </p>
    <p>Processor: <%= computer.processor %>
    </p>
    <p>Amount: <%= computer.amount %>
    </p>
    <p>Processor: <%= computer.processor %>
    </p>
    <img src="/images/<%= computer.imagename %>" alt="Image of <%= computer.name %>">
    <a href="/"><button>Menu</button></a>
  </main>

</body>

</html>